@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Inter', sans-serif;
    background-color: #1c272c;
    color: #ccc;
}

.navbar {
    height: 45px;
    background-color: #222;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.navbar ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

/* Style the a tag to occupy the full li */
.navbar ul li a {
    display: block;            /* Make the a behave like a block element */
    padding: 0.8rem 1.4rem;    /* Add padding to make it easier to click */
    text-decoration: none;     /* Remove underline from links */
    color: #bbb;             /* Link color */
}

/* Hover effect for the li */
.navbar ul li:hover a {
    height: 100%;
    background-color: #138b29;  /* Background color when hovering */
    color: #ddd;             /* Change text color on hover */
}

/* Optional active state when the link is clicked */
/* .navbar ul li a:active {
    background-color: #ccc;    // Background color when the link is clicked
} */

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
}

table {
    background-color: #aaa;
    color: #1c272c;
    border: #aaa 4px solid;
    border-collapse: collapse;
    width: 50vw;
}

table tr:nth-child(odd) {background-color: #bbb;}
/* table tr:nth-child(even) {background-color: #aaa;} */

table th {
    background-color: #1c272c;
    color: #aaa;
    font-size: 0.9rem;
}

table td {
    font-size: 0.9rem;
}

table th, table td {
    border: #aaa 1px solid;
    padding: 0.5rem 0.5rem;
}