@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    background-color: #29162e;
    color: #ccc;
    margin: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

table {
    border: #ccc 1px solid;
}

table th, table td {
    border: #ccc 1px solid;
    padding: 0.5rem 1rem;
}