@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.8rem;
    font-family: 'Inter', sans-serif;
    background-color: rgb(32, 25, 44);
    color: #ccc;;
}

/* .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */

h2 {
    margin: 1rem 0 1.2rem;
}

table {
    font-size: 1rem;
    border: #aaa 1px solid;
    border-spacing: 4px;
    /* border-collapse: separate;    // this is the default */
    width: 60vw;
}

table th, table td {
    border: #aaa 1px solid;
    padding: 0.6rem 0.7rem;
}