* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

table {
    border: #111 1px solid;
    width: 50%;
}

table th, table td {
    border: #111 1px solid;
    padding: 0.1rem 0.3rem;
}