<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Signage</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Speed: <span th:text="${speed}"></span></h1>

    <!-- WORKBOOK 2.3 -->
    <!-- <img th:if="${speed < 60}" th:src="@{/images/speed-limit.jpg}" alt="speed-limit" width="200">
    <img th:unless="${speed < 60}" th:src="@{/images/slow-down.jpg}" alt="slow-down" width="200"> -->
    
    
    <!-- WORKBOOK 2.4 -->
    <img th:src="${speed < 60} ? @{/images/speed-limit.jpg} : @{/images/slow-down.jpg}" th:alt="${speed < 60} ? 'speed-limit' : 'slow-down'" width="200">
</body>
</html>