<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Submission App</title>

    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/form">Form</a></li>
                <li><a href="/grades">Grades</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h1>Grades</h1>
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Mark</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="grade: ${grades}">
                    <td th:text="*{grade.name}"></td>
                    <td th:text="*{grade.subject}"></td>
                    <td th:text="*{grade.score}"></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>